/* cards/main styles*/

@media (max-width: 950px) {
  .main {
    grid-area: cards;
    display: grid;
    grid-template-columns: auto;
    column-gap: 30px;
    grid-template-rows: auto auto auto auto auto auto auto;
    row-gap: 30px;
    grid-template-areas:
      "card"
      "card"
      "card"
      "card"
      "card"
      "card";

    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 3%;
  }

  .card {
    grid-area: card;
    display: flex;
    flex-direction: column;
  }

  .card-image {
    border-radius: 10%;
    width: 16rem;
    box-shadow: 30px 20px 10px rgba(1, 13, 27, 0.9);
    max-height: 330px;
    margin: 25px;
    transition: transform 1.5s linear;
  }

  .card-image:hover {
    transform: scale3d(-1, 1, 2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 30px 20px 30px rgba(1, 13, 27, 0.9);
  }

  .card-content {
    width: 15rem;
    margin-top: 4%;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 10%;
    box-shadow: 20px 30px 40px rgba(1, 13, 27, 0.9);
    border-radius: 10%;
  }

  .card-button {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(160, 160, 83);
    border-radius: 10%;
    cursor: pointer;
    font-size: 14px;
    height: 42px;
    margin: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 130px;
  }

  button a {
    color: rgb(77, 77, 28);
    font-weight: 500;
  }

  .card-button::before {
    content: "";
    height: 100%;
    right: 0%;
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .card-button::after {
    backface-visibility: hidden;
    background: linear-gradient(
      to top left,
      rgb(153, 153, 20),
      rgb(131, 131, 24),
      rgb(160, 160, 83)
    );
    border-radius: 0 0 100% 100%;
    content: "";
    height: 0;
    right: 0;
    position: absolute;
    top: 0;
    transition: height 2000ms;
    width: 100%;
    z-index: -1;
  }

  .card-button:hover::after {
    height: 200%;
  }
}

@media (min-width: 950px) {
  .main {
    grid-area: cards;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    grid-template-rows: auto auto auto;
    row-gap: 30px;
    grid-template-areas:
      "card card"
      "card card"
      "card card";
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .card {
    grid-area: card;
    display: flex;
    flex-direction: column;
  }

  .card-image {
    border-radius: 10%;
    width: 20rem;
    box-shadow: 30px 20px 10px rgba(1, 13, 27, 0.9);
    max-height: 330px;
    margin: 25px;
    transition: transform 1.5s linear;
  }

  .card-image:hover {
    transform: scale3d(-1, 1, 2);

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 30px 20px 30px rgba(1, 13, 27, 0.9);
  }

  .card-content {
    width: 20rem;
    margin-top: 4%;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 10%;
    box-shadow: 20px 30px 40px rgba(1, 13, 27, 0.9);
    border-radius: 10%;
  }

  .card-button {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(160, 160, 83);
    border-radius: 10%;
    cursor: pointer;
    font-size: 14px;
    height: 42px;
    margin: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 130px;
  }

  button a {
    color: rgb(77, 77, 28);
    font-weight: 500;
  }

  .card-button::before {
    content: "";
    height: 100%;
    right: 0%;
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .card-button::after {
    backface-visibility: hidden;
    background: linear-gradient(
      to top left,
      rgb(153, 153, 20),
      rgb(131, 131, 24),
      rgb(160, 160, 83)
    );
    border-radius: 0 0 100% 100%;
    content: "";
    height: 0;
    right: 0;
    position: absolute;
    top: 0;
    transition: height 2000ms;
    width: 100%;
    z-index: -1;
  }

  .card-button:hover::after {
    height: 200%;
  }
}

@media (min-width: 1350px) {
  .main {
    grid-area: cards;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    grid-template-rows: auto auto;
    row-gap: 30px;
    grid-template-areas:
      "card card card"
      "card card car";

    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .card {
    grid-area: card;
    display: flex;
    flex-direction: column;
  }

  .card-image {
    border-radius: 10%;
    width: 20rem;
    box-shadow: 30px 20px 10px rgba(1, 13, 27, 0.9);
    max-height: 330px;
    margin: 25px;
    transition: transform 1.5s linear;
  }

  .card-image:hover {
    transform: scale3d(-1, 1, 2);

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 30px 20px 30px rgba(1, 13, 27, 0.9);
  }

  .card-content {
    width: 20rem;
    margin-top: 4%;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 10%;
    box-shadow: 20px 30px 40px rgba(1, 13, 27, 0.9);
    border-radius: 10%;
  }

  .card-button {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(160, 160, 83);
    border-radius: 10%;
    cursor: pointer;
    font-size: 14px;
    height: 42px;
    margin: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 130px;
  }

  button a {
    color: rgb(77, 77, 28);
    font-weight: 500;
  }

  .card-button::before {
    content: "";
    height: 100%;
    right: 0%;
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .card-button::after {
    backface-visibility: hidden;
    background: linear-gradient(
      to top left,
      rgb(153, 153, 20),
      rgb(131, 131, 24),
      rgb(160, 160, 83)
    );
    border-radius: 0 0 100% 100%;
    content: "";
    height: 0;
    right: 0;
    position: absolute;
    top: 0;
    transition: height 2000ms;
    width: 100%;
    z-index: -1;
  }

  .card-button:hover::after {
    height: 200%;
  }
}

@media (max-width: 500px) {
  .card-image {
    width: 80%;
  }

  .card-content {
    width: 80%;
  }

  .card-button {
    width: 80%;
  }

  .pages-list {
    font-size: 14px;
  }

  h1,
  h2 {
    /* font-size: 0.99rem; */
    margin: 5%;
  }

  .main {
    margin-top: 35%;
  }
}
