/* body styles */

@import "header.css";
@import "sidebar.css";
@import "main.css";
@import "footer.css";

body {
  background: linear-gradient(
    to top left,
    lightgray,
    gray,
    rgb(153, 153, 20),
    white,
    black
  );

  letter-spacing: 0.8px;
  font-size: 17px;
}

.container {
  display: grid;
  grid-template-columns: 30px 150px auto 30px;
  grid-template-rows: 10px 300px auto 40px 10px;
  grid-template-areas:
    ". . . ."
    ". . header ."
    ". sidebar cards ."
    ". footer footer ."
    ". . . .";
}

@media (min-width: 375px) and (max-width: 500px) {
  .container {
    grid-template-rows: 10px 150px auto 40px 10px;

    grid-template-areas:
      ". . . ."
      "header header header header"
      "sidebar cards cards ."
      ". footer footer ."
      ". . . .";
  }
}
